In [1]:
import pandas as pd

In [2]:
file = "CSVs/Chicago_Traffic_Tracker_-_Historical_Congestion_Estimates_by_Segment_-_2011-2018.csv"
traffic_2017 = pd.read_csv(file)
traffic_2017.head()

,TIME,SEGMENTID,BUS COUNT,MESSAGE COUNT,SPEED
0,01/16/2013 11:50:32 PM,116,2.0,7.0,18
1,02/24/2013 11:50:32 PM,54,2.0,11.0,23
2,02/17/2013 11:50:32 PM,597,0.0,0.0,-1
3,02/23/2013 11:50:32 PM,363,1.0,4.0,25
4,12/01/2014 11:50:32 PM,203,0.0,0.0,-1

In [4]:
traffic_2017.columns

Index(['TIME', 'SEGMENTID', 'BUS COUNT                ', 'MESSAGE COUNT',
       'SPEED'],
      dtype='object')

In [5]:
del traffic_2017["BUS COUNT                "]
del traffic_2017["SPEED"]

In [11]:
traffic_2017["YEAR"] = ""
traffic_2017["YEAR"] = pd.DatetimeIndex(traffic_2017["TIME"]).year

In [12]:
traffic_2017.head()

                     TIME  SEGMENTID  MESSAGE COUNT  YEAR
0  01/16/2013 11:50:32 PM        116            7.0  2013
1  02/24/2013 11:50:32 PM         54           11.0  2013
2  02/17/2013 11:50:32 PM        597            0.0  2013
3  02/23/2013 11:50:32 PM        363            4.0  2013
4  12/01/2014 11:50:32 PM        203            0.0  2014

In [13]:
traffic_2017= traffic_2017[traffic_2017["YEAR"] == "2017"]

C:\Users\Caitlin\Anaconda3\envs\DataClass\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [ ]:
file2 = "CSVs/Chicago_Traffic_Tracker_-_Congestion_Estimates_by_Segments.csv"
segments_df = pd.read_csv(file2)
segments_df.head()

In [ ]:
del segments_df["LAST_UPDATED"]
del segments_df["FROM_STREET"]
del segments_df["TO_STREET"]
del segments_df["LENGTH"]
del segments_df["STREET_HEADING"]

In [ ]:
file3 = "CSVs/Chicago_Traffic_Tracker_-_Congestion_Estimates_by_Regions.csv"
regions_df = pd.read_csv(file3)

In [ ]:
segments_df["REGION ID"] = ""

for index, row in segments_df.iterrows():
    for index2, row2 in regions_df.iterrows():
        if ((segments_df["START_LATITUDE"][index] & segments_df["END_LATITUDE"][index]) < regions_df[" NORTH"][index2]) & ((segments_df["START_LATITUDE"][index] & segments_df["END_LATITUDE"][index]) > regions_df[" SOUTH"][index2]) & ((segments_df["START_LONGITUDE"][index] & segments_df["END_LONGITUDE"][index]) > regions_df[" WEST"][index2]) & ((segments_df["START_LONGITUDE"][index] & segments_df["END_LONGITUDE"][index])< regions_df[" EAST"][index2]):
            segments_df["REGION ID"][index] = regions_df[" REGION_ID"][index2]

In [ ]:
segments_df.head()

In [ ]:
segments_df.to_csv("CSVs/SegmentsWRegionID.csv")

In [ ]:
traffic_2017_merged = pd.merge(traffic_2017, segments_df, on = "REGION ID", how = "inner")
traffic_2017_merged.head()