In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file = "CSVs/peoplerevised.csv"
people_df = pd.read_csv(file)
people_df.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE',
       'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE', 'CELL_PHONE_USE',
       'Year'],
      dtype='object')

In [6]:
file2 = "CSVs/Crashes_w_Region.csv"
crashes_df = pd.read_csv(file2)
crashes_df.columns

Index(['RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE', 'POSTED_SPEED_LIMIT',
       'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'LANE_CNT',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'REPORT_TYPE',
       'CRASH_TYPE', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I',
       'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'Lat', 'Lng', 'Region ID'],
      dtype='object')

In [8]:
people_crashes = pd.merge(people_df, crashes_df, on = "RD_NO", how = "left")
people_crashes.head()

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,Lat,Lng,Region ID
0,O113278,DRIVER,JA100019,112267.0,01/01/2017 12:10:00 AM,NaN,NaN,NaN,NaN,M,...,0.0,1.0,3.0,0.0,0.0,1.0,1.0,41.892846,-87.629835,12.0
1,O113279,DRIVER,JA100019,112268.0,01/01/2017 12:10:00 AM,NaN,CHICAGO,IL,60659,M,...,0.0,1.0,3.0,0.0,0.0,1.0,1.0,41.892846,-87.629835,12.0
2,O113282,DRIVER,JA100054,112269.0,01/01/2017 12:45:00 AM,NaN,CHICAGO,IL,60608,M,...,0.0,0.0,2.0,0.0,0.0,1.0,1.0,41.903400,-87.657323,11.0
3,O113283,DRIVER,JA100054,112274.0,01/01/2017 12:45:00 AM,NaN,CHICAGO,IL,60641,F,...,0.0,0.0,2.0,0.0,0.0,1.0,1.0,41.903400,-87.657323,11.0
4,O113284,DRIVER,JA100047,112270.0,01/01/2017 12:15:00 AM,NaN,CHICAGO,IL,60616,M,...,0.0,0.0,2.0,0.0,0.0,1.0,1.0,41.887647,-87.635873,13.0

In [9]:
people_crashes.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE_x',
       'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE', 'CELL_PHONE_USE',
       'Year', 'CRASH_DATE_EST_I', 'CRASH_DATE_y', 'POSTED_SPEED_LIMIT',
       'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'LANE_CNT',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'REPORT_TYPE',
       'CRASH_TYPE', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I',
       'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'Lat', 'Lng', 'Region ID'],
      dtype='object')

In [20]:
causes = people_crashes["DRIVER_ACTION"].unique()
injury = people_crashes["INJURY_CLASSIFICATION"].unique()

array(['NO INDICATION OF INJURY', 'REPORTED, NOT EVIDENT',
       'NONINCAPACITATING INJURY', 'INCAPACITATING INJURY', nan, 'FATAL'],
      dtype=object)

In [26]:
region18_df = people_crashes[people_crashes["Region ID"] == 18]
print(region18_df["DRIVER_ACTION"].value_counts())
print(region18_df["INJURY_CLASSIFICATION"].value_counts())
print(region18_df["BAC_RESULT VALUE"].count())

NONE                                 11704
UNKNOWN                               4904
FAILED TO YIELD                       3418
OTHER                                 2161
FOLLOWED TOO CLOSELY                  1583
IMPROPER BACKING                       685
IMPROPER LANE CHANGE                   586
IMPROPER TURN                          574
IMPROPER PASSING                       440
TOO FAST FOR CONDITIONS                409
DISREGARDED CONTROL DEVICES            311
WRONG WAY/SIDE                          93
IMPROPER PARKING                        50
CELL PHONE USE OTHER THAN TEXTING       31
EVADING POLICE VEHICLE                  20
TEXTING                                 15
EMERGENCY VEHICLE ON CALL               12
STOPPED SCHOOL BUS                       5
Name: DRIVER_ACTION, dtype: int64
NO INDICATION OF INJURY     31360
NONINCAPACITATING INJURY     1155
REPORTED, NOT EVIDENT         649
INCAPACITATING INJURY         257
FATAL                          18
Name: INJURY_CLASSIFICATION, dtype: int64
39

In [27]:
region10_df = people_crashes[people_crashes["Region ID"] == 10]
print(region10_df["DRIVER_ACTION"].value_counts())
print(region10_df["INJURY_CLASSIFICATION"].value_counts())
print(region10_df["BAC_RESULT VALUE"].count())

NONE                                 7597
UNKNOWN                              5460
FAILED TO YIELD                      2013
OTHER                                2008
FOLLOWED TOO CLOSELY                 1217
IMPROPER TURN                         636
IMPROPER BACKING                      575
DISREGARDED CONTROL DEVICES           551
IMPROPER LANE CHANGE                  507
TOO FAST FOR CONDITIONS               472
IMPROPER PASSING                      424
EVADING POLICE VEHICLE                171
WRONG WAY/SIDE                        150
IMPROPER PARKING                       66
EMERGENCY VEHICLE ON CALL              52
CELL PHONE USE OTHER THAN TEXTING      41
TEXTING                                13
STOPPED SCHOOL BUS                      2
Name: DRIVER_ACTION, dtype: int64
NO INDICATION OF INJURY     25797
NONINCAPACITATING INJURY     1842
REPORTED, NOT EVIDENT        1172
INCAPACITATING INJURY         359
FATAL                          25
Name: INJURY_CLASSIFICATION, dtype: int64
25