In [1]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

In [15]:
#Import Crashes Dataframe
file = "CSVs/Crashes_w_Region.csv"
crashes_df = pd.read_csv(file)
file2 = "CSVs/peoplerevised.csv"
file3 = "CSVs/vehiclesrevised.csv"
people_df = pd.read_csv(file2)
vehicles_df = pd.read_csv(file3)

C:\Users\Caitlin\Anaconda3\envs\DataClass\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Caitlin\Anaconda3\envs\DataClass\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (18,39,40,41,47,48,49,54,57,58,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
crashes_df.columns

Index(['RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE', 'POSTED_SPEED_LIMIT',
       'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION', 'WEATHER_CONDITION',
       'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'LANE_CNT',
       'ALIGNMENT', 'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'REPORT_TYPE',
       'CRASH_TYPE', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I',
       'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
       'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
       'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
       'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
       'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
       'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
       'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
       'Lat', 'Lng', 'Region ID'],
      dtype='object')

In [17]:
people_df.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE',
       'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE', 'CELL_PHONE_USE',
       'Year'],
      dtype='object')

In [18]:
vehicles_df.columns

Index(['CRASH_UNIT_ID', 'RD_NO', 'CRASH_DATE', 'UNIT_NO', 'UNIT_TYPE',
       'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE', 'MODEL',
       'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I',
       'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO',
       'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I',
       'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I',
       'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
       'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
       'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS', 'Year'],
      dtype='object')

In [78]:
#Region 18 weather stats
region = crashes_df[crashes_df["Region ID"] == 18]
values = region["WEATHER_CONDITION"].value_counts()
count = Region["WEATHER_CONDITION"].count()
region = pd.DataFrame({"Count" : Region["WEATHER_CONDITION"].value_counts()})
region["Percent"] = (values/count)

region

                        Count   Percent
CLEAR                   12358  0.811372
RAIN                     1427  0.093690
SNOW                      597  0.039196
UNKNOWN                   395  0.025934
CLOUDY/OVERCAST           357  0.023439
OTHER                      49  0.003217
FOG/SMOKE/HAZE             27  0.001773
SLEET/HAIL                 19  0.001247
SEVERE CROSS WIND GATE      2  0.000131

In [80]:
#Region 14
region = crashes_df[crashes_df["Region ID"] == 14]
values = region["WEATHER_CONDITION"].value_counts()
count = region["WEATHER_CONDITION"].count()
region = pd.DataFrame({"Count" : Region["WEATHER_CONDITION"].value_counts()})
region["Percent"] = (values/count)
region

                        Count   Percent
CLEAR                   12358  0.781897
RAIN                     1427  0.098574
SNOW                      597  0.049473
UNKNOWN                   395  0.031494
CLOUDY/OVERCAST           357  0.030502
OTHER                      49  0.005208
FOG/SMOKE/HAZE             27  0.001736
SLEET/HAIL                 19  0.000992
SEVERE CROSS WIND GATE      2  0.000124

In [81]:
#Region 15
region = crashes_df[crashes_df["Region ID"] == 15]
values = region["WEATHER_CONDITION"].value_counts()
count = region["WEATHER_CONDITION"].count()
region = pd.DataFrame({"Count" : Region["WEATHER_CONDITION"].value_counts()})
region["Percent"] = (values/count)
region

                        Count   Percent
CLEAR                   12358  0.784557
RAIN                     1427  0.091588
SNOW                      597  0.051007
UNKNOWN                   395  0.034240
CLOUDY/OVERCAST           357  0.032972
OTHER                      49  0.002395
FOG/SMOKE/HAZE             27  0.001832
SLEET/HAIL                 19  0.001268
SEVERE CROSS WIND GATE      2  0.000141

In [83]:
region = crashes_df[crashes_df["Region ID"] == 21]
values = region["WEATHER_CONDITION"].value_counts()
count = region["WEATHER_CONDITION"].count()
region = pd.DataFrame({"Count" : Region["WEATHER_CONDITION"].value_counts()})
region["Percent"] = (values/count)
region

                        Count   Percent
CLEAR                   12358  0.784101
RAIN                     1427  0.087844
SNOW                      597  0.052892
UNKNOWN                   395  0.040210
CLOUDY/OVERCAST           357  0.022270
OTHER                      49  0.005568
FOG/SMOKE/HAZE             27  0.003866
SLEET/HAIL                 19  0.003248
SEVERE CROSS WIND GATE      2       NaN